@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif!important;
  margin: 0;
  padding: 0;
}
.hover {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0; /* Start with 0 opacity and animate to 1 on hover */
  transition: opacity 0.3s;
  transform: translateY(0);
  border-radius: 10px;
}

.hover:hover .overlay {
  opacity: 1;
  transform: translateY(100);
}
@media(max-width:500px){
  .img{
    max-width: 300px!important;
  }
}